:root {
  --color-bg: #121212;
  --color-text: #eaeaea;
  --color-accent: #6366f1;
  --color-accent-dark: #818cf8;
  --color-text-dark: #eaeaea;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.dark {
  --color-bg: var(--color-bg-dark);
  --color-text: var(--color-text-dark);
  --color-accent: var(--color-accent-dark);
}

* {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
}

